<!DOCTYPE html>
<html>

<head>
    <title>Resete de senha</title>
</head>

<body>
    <div>
        <p>Você solicitou uma redefinição de senha, use esse <a href="{{url}}">link</a> para resetar sua senha</p>
        <br>
    </div>
   
</body>

</html>